.git/
.dvc/cache/
.hydra/
.ruff_cache/
.venv/
__pycache__/
*.py[cod]
*.log

.env
.env.*
!.env.example

catboost_info/
data/raw/
data/interim/
data/external/
models/
submissions/

reports/*
!reports/.gitkeep

notebooks/.ipynb_checkpoints/
docs/site/

Dockerfile
.dockerignore
